# Python
venv/
__pycache__/
*.pyc
*.db
.env

# Node
node_modules/
build/
.env.local

# IDE
.vscode/
.idea/

# Don't ignore these (needed for deployment)
!backend/runtime.txt
!backend/Procfile
!backend/requirements.txt